$hero-bg-color: #F2F0F1;
$primary-bg-color: #ffffff;
$banner-bg-color: #000000;
$category-div-bg-color: #f0f0f0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$footer-bg-color: #F0F0F0;
$white-1: white;
$black-1: black;
$border-color: rgba(47, 47, 47, 0.125);
$discount-color: #d6455f;
$white-2:#f4f4f4;
$white-3:#a0a0a0;
$white-4:#f3f3f3;
$black-70: rgba(0, 0, 0, 0.7);
$black-50: rgba(0, 0, 0, 0.5);
$peach: #f7dfe2;
$rating-color:#f4c15d;

$mobile-heading-font-size: 2rem; 
$primary-mobile-para-size: 0.75rem;

$primary-font-style: "Satoshi";
$heading-font-style: "Integral CF";